In [1]:
print("Hello World")

Hello World

In [136]:
import pandas as pd
df=pd.read_csv('salaries.csv')
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [7]:
x=df.drop(['salary_more_then_100k'],axis='columns')
x

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [13]:
from sklearn.preprocessing import LabelEncoder
obj=LabelEncoder()

In [14]:
x['new com']=obj.fit_transform(x['company'])
x['new job']=obj.fit_transform(x['job'])
x['new degree']=obj.fit_transform(x['degree'])
x

       company                  job     degree  new com  new job  new degree
0       google      sales executive  bachelors        2        2           0
1       google      sales executive    masters        2        2           1
2       google     business manager  bachelors        2        0           0
3       google     business manager    masters        2        0           1
4       google  computer programmer  bachelors        2        1           0
5       google  computer programmer    masters        2        1           1
6   abc pharma      sales executive    masters        0        2           1
7   abc pharma  computer programmer  bachelors        0        1           0
8   abc pharma     business manager  bachelors        0        0           0
9   abc pharma     business manager    masters        0        0           1
10    facebook      sales executive  bachelors        1        2           0
11    facebook      sales executive    masters        1        2           1
12    facebook     business manager  bachelors        1        0           0
13    facebook     business manager    masters        1        0           1
14    facebook  computer programmer  bachelors        1        1           0
15    facebook  computer programmer    masters        1        1           1

In [16]:
x.drop(['company','job','degree'],axis='columns',inplace=True)
x

    new com  new job  new degree
0         2        2           0
1         2        2           1
2         2        0           0
3         2        0           1
4         2        1           0
5         2        1           1
6         0        2           1
7         0        1           0
8         0        0           0
9         0        0           1
10        1        2           0
11        1        2           1
12        1        0           0
13        1        0           1
14        1        1           0
15        1        1           1

In [17]:
y=df['salary_more_then_100k']
y

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [32]:
from sklearn import tree
model=tree.DecisionTreeClassifier()
model.fit(x,y)

DecisionTreeClassifier()

In [33]:
model.score(x,y)

1.0

In [30]:
model.predict([[2,1,0]])

array([0], dtype=int64)

In [31]:
model.predict([[2,1,1]])

array([1], dtype=int64)

In [34]:
#Exercise

In [97]:
df=pd.read_csv('titanic.csv')
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [98]:
print(df.shape)
print(df.info())

(891, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [99]:
# df.dropna(inplace=True)
# df.info()

In [100]:
df.groupby('Survived').mean(numeric_only=True)

          PassengerId    Pclass        Age     SibSp     Parch       Fare
Survived
0          447.016393  2.531876  30.626179  0.553734  0.329690  22.117887
1          444.368421  1.950292  28.343690  0.473684  0.464912  48.395408

In [101]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [102]:
x=df.drop(['Survived'],axis='columns')
y=df.Survived

In [103]:
#Here Sex is in String 
# So we have to change this
# So for this situation we can use one hot and also map with numeric values 
# that is 0 and 1

x.Sex=x.Sex.map({'male':1,'female':2})
x.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    2  38.0  71.2833
2       3    2  26.0   7.9250
3       1    2  35.0  53.1000
4       3    1  35.0   8.0500

In [104]:
# now preprocessing for nan values in Age
df.Age.info()

<class 'pandas.core.series.Series'>
RangeIndex: 891 entries, 0 to 890
Series name: Age
Non-Null Count  Dtype
--------------  -----
714 non-null    float64
dtypes: float64(1)
memory usage: 7.1 KB

In [105]:
x.Age=x.Age.fillna(x.Age.mean())
x.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    2  38.0  71.2833
2       3    2  26.0   7.9250
3       1    2  35.0  53.1000
4       3    1  35.0   8.0500

In [91]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [109]:
from sklearn import tree
m=tree.DecisionTreeClassifier()
m.fit(x,y)

DecisionTreeClassifier()

In [128]:
m.predict([[3,2,35,10000000]])

C:\Users\Arav\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [111]:
m.score(x,y)

0.9797979797979798

In [112]:
#Using train test split
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [113]:
len(xtrain)

712

In [114]:
len(xtest)

179

In [115]:
from sklearn import tree
m=tree.DecisionTreeClassifier()
m.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [119]:
m.score(xtest,ytest)

0.776536312849162

In [135]:
#          class male/female age fare
m.predict([[1,2,80,25000]])

C:\Users\Arav\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)